.container {
    border-bottom: 1px solid black;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background: #f9f9f9;*/
    background: color-mix(in srgb, #03031b 90%, transparent);
    /*color: white;*/
}

.list {
    display: flex;
    gap: 20px;
    list-style: none;

    padding: 0 20px;

}
.link {
    text-decoration-line: none;
    color: color-mix(in srgb, #22d6ac 80%, transparent);
}
.activeLink {
    font-weight: bold;
    color: color-mix(in srgb, #cacada 90%, transparent);
}
.logo {
    align-self: center;
}
button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #e8e7e7;
    cursor: pointer;
    overflow: hidden;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: background 0.3s;
}